*{
    padding: 0;
    margin: 0;
}
.main{
    height: 100vh;
    width: 100vw;
    /* background-color: gray; */
    background: linear-gradient(to top, rgba(0,0,0,0.7)50%, rgba(0,0,0,.7)50%), url(building.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    font-family: Arial;
   
}
.nav{
    width: 100vw;
    color: orangered;
    height: 10vh;
    /* background-color: aqua; */

    display: flex;
}
.logo{
    width: 20vw;
    height: 10vh;
    /* background-color: teal; */
    justify-content: center;
    align-items: center;
    display: flex;
}
.logo a{
    color: orangered;
    text-decoration: none;
    font-size: 25px;
    text-shadow: 0px 3px 4px white;

}
.menu{
    height: 10vh;
    width: 55vw;
    /* background-color: yellow; */
    justify-content: center;
    align-items: center;
    display: flex;
}

.menu ul{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}
.menu ul li{
    padding-left: 15px;
    justify-content: center;
    align-items: center;
    /* margin-top: 20px; */

}
.menu a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    /* font-weight: 600; */
    /* border-bottom: 2px solid white; */
    padding: 10px 15px;
    color: white;
    transition: 0.6s ease-in-out;
    letter-spacing: 1.5px;
}

.menu a:hover{
    color: orangered;
    border-color: orangered;
}
.search{
    width: 25vw;
    height: 10vh;
    /* background-color: purple; */

    justify-content: center;
    align-items: center;
    display: flex;
}
.search #srch{
    outline: none;
    padding:10px 15px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    border-right: none;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;

}
.search a .btn{
background-color:orangered;
color: white;
padding:10px 15px;
border: 1px solid white;
border-radius: 5px;
border-left: none;
border-top-left-radius: 0px;
border-bottom-left-radius: 0px;
cursor: pointer;
font-weight: 600;
transition: 0.6s ease-in-out;

}

.search .btn:hover{
    background-color: white;
    color: orangered;
}

.search ::placeholder{
    color: white;
}

/* content div */
.content{
    width: 100vw;
    height: 90vh;
    /* background-color: rebeccapurple; */
    display: flex;
}
.text-area{
    width: 60vw;
    height: auto;
    /* background-color: crimson; */
    color: white;
    margin: auto;
    padding-left:50px ;

}
.login-form{
    width: 40vw;
    height: 90vh;
    /* background-color: orangered; */
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.text-area h1{
    font-size: 50px;
    text-transform: capitalize;
}
.text-area h1 span{
    color: orangered;
    font-size: 60px;
}

.text-area h2{
    text-align: left;
    font-size: 40px;
}
.text-area p{
    font-size: 20px;
}
.text-area button{
    margin-top: 10px;
    padding: 10px 25px;
    background-color: white;
    color: orangered;
    outline: none;
    /* border: 2px solid white; */
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    transition: 0.4s ease-in-out;

}

.text-area button:hover{
    background-color: orangered;
    color: white;
}

.login-form form{
    width: 23vw;
    height: 65vh;
    background-color: orangered;
    justify-content: center;
    align-items:center;
    display: flex;
    flex-direction: column;
    background-color: rgba(0,0,0,0.8);
    border-radius: 10px;
}

.login-form h1{
    margin-bottom: 15px;
}


.login-form input{
    padding: 15px 30px;
    margin-top: 15px;
    text-align: center;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid orangered;
    outline: none;
    color: white;
}

.email{
    display: flex;
    flex-direction: column;

    position: relative;
}
.email i{
    position: absolute;
    top: 20px;
    left: 0px;
    padding: 9px 20px;
    font-size: 20px;
    color: orangered;
}

form ::placeholder{
    color: white;
}
form #sub{
    color: white;
    font-size: 20px;
    /* border: 2px solid orangered; */
    border: none;
    padding: 8px 25px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
    background-color: orangered;
    font-weight: 600;
    transition: 0.5s ease-in-out;

}

form #sub:hover{
    background-color: white;
    color: orangered;
    
}

form p{
    margin-top: 15px;
}
 form p a{
     text-decoration: none;
     color: orangered;
     font-size: 20px;
     font-weight: 600;
    transition: 0.4s ease-in-out;

 }

 form p a:hover{
     color: white;
 }


@media screen and (max-width:600px){
 
    /* .nav{
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100vw;
    } */
}